    <%- include('header') -%>
        <div id="bottom">
            <div id="about-sasame">
                <p>
                    Sasame is the simplest possible way to save the world, and starts with a seed that belongs to all of us.
                    If there's a way, Sasame will find it.
                    If not, Sasame will find the next best thing.
                </p>
                <p>
                    To learn more about Sasame, check out the Blog. Don't like Sasame? Save the world a better way and fork me on Github!
                </p>
                <p>
                    Twitter: <a class="link" href="https://twitter.com/uriahrsanders" target="_blank">Creator</a> | <a  target="_blank" class="link" href="https://twitter.com/sasamexyz">Sasame</a>
                </p>
                <p>
                    Github: <a class="link" href="https://github.com/uriahsanders/Sasasame" target="_blank">Github</a>
                </p>
            </div>
            <!-- Loop through all post submits -->

            <!-- <a href="https://github.com/uriahsanders/Sasasame">Github</a> -->
        </div>
    </body>
    <script src="js/app.js"></script>
</html>
