<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sasame</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/book.css">
        <link rel="stylesheet" href="/css/control.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="images/bitmap.png" />
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="control_panel">
            <div id="control_nav">
                    <div id="main_header">
                        <!-- <div id="mobile_book_menu"> -->
                        <!--     <1!-- <ion-icon name="menu"></ion-icon> --1> -->
                        <!--     + -->
                        <!-- </div> -->
                        <a href="/">
                            <img id="little_seed" alt="" src="/images/test.png"/>
                        </a>
                        <div>THE BOOK OF SASAME</div>
                    </div>
                    <br/>
                    <div class="up_one_level">
                        <a class="up_one_level_link" href="/sasasame">Start</a> | <a class="up_one_level_link" href="javascript:history.back()">Back</a> | <a class="up_one_level_link" href="/control">Control</a>
                        <%if(locals.session.user){%>
                        | <a class="up_one_level_link" href="/profile">Profile</a>
                        <%}%>
                    </div>
            </div>
            </div>
        </div>
        <div id="control_panel_header">
            Control Panel
        </div>
        <div id="control_panel_desc">Stitch together and edit passages</div>
        <form id="control_search_form"action="/search_by_key" method="post">
            <input onclick="this.select()"placeholder="Key1, Key2, ..."id="control_key_search" type="text" name="keys" value=""autocomplete="off">
            <button id="control_search"type="submit">Search</button>
        </form>
        <%if(locals.done){%>
            <div id="control_done">
                Done
            </div>
        <%}%>
        <div id="control_passages">
        </div>
        <script src="/js/app.js"></script>
        <script src="/js/control.js"></script>
    </body>
</html>
