<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sasame</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/mobile.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/bitmap.png" />
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="top">
            <a href="/">
                <img id="seed" alt="" src="images/bitmap.png"/>
            </a>
            <br/>
            <div id="hero">
                <span id="main_sasame">SASAME</span><span id="version">v0.2</span>
            </div>
            <div id="hero_sub">
                and a slightly stronger <span id="hero_sub_seed">seed.</span>
            </div>
            <nav id="nav">
                <ul id="nav_ul">
                    <li class="nav_li"><a class="nav_a" href="/">Home</a></li>
                        <li class="nav_li"><a class="nav_a" href="/about">About</a></li>
                        <li class="nav_li"><a class="nav_a" href="/history">Blog</a></li>
                        <li class="nav_li"><a class="nav_a" href="/roots">Control</a></li>
                </ul>
            </nav>
        </div>
