    <%- include('header') -%>
        <div id="bottom">
            <div id="help_header">
                How Sasame Works
            </div>
            <div id="about-sasame">
                <p>
                    <b>Sasame</b> is an Open Source General AI that we hope will Save the World.
                </p>
                <p>
                    <b>Sasame.xyz</b> hosts the Social Network for Saving the World, and expands its functionality via user interaction. Please help push Sasame in the right direction: And have fun doing it!
                </p>
                <p>
                    <b>Death by Bubbles</b> is a story about Saving the World that serves to Test Sasame and make Saving the World FUN. You can play along with the story or just ignore it.
                </p>
                <p>
                    <b>Twitter</b> <a class="link" href="https://twitter.com/uriahrsanders" target="_blank">Creator</a> | <a  target="_blank" class="link" href="https://twitter.com/sasamexyz">Sasame</a>
                </p>
                <p>
                    <b>Github</b> <a class="link" href="https://github.com/uriahsanders/Sasasame" target="_blank">Github</a>
                </p>
            </div>
            <div class="help_header">
                Key Pad
            </div>
            <div class="help_sub_header">
                <p> All Passages in the Control Panel can be marked with Keys. </p>
                <p> Key Functions are decided by the Community and Moderated by the GRA. </p>
            </div>
            <div class="help_content">
                <p class="help_key">
                    <b>Example Key</b> Example Action
                </p>
                <p>
                    <b>Example Key</b> Example Action
                </p>
                <p>
                    <b>Example Key</b> Example Action
                </p>
            </div>
            <!-- Loop through all post submits -->

            <!-- <a href="https://github.com/uriahsanders/Sasasame">Github</a> -->
        </div>
    </body>
    <script src="js/app.js"></script>
</html>
