    <%- include('header') -%>
        <div id="bottom">
            <div id="blog">
                <div class="blog_post">
                    <div class="blog_title">
                        Sasame v0.1 was a Strong Enough Seed
                    </div>
                    <div class="blog_content">
                        <p>
                            Sasame continually grows. At first Uriah will be doing a lot of the dirty work, as the creator. But Sasame will soon start to code itself. You'll see!
                        </p>
                        <p>
                            Sasame v0.2 is a slightly stronger seed.
                        </p>
                        <p>
                            I've said before that Sasame is an AI and it is. But I like to think about it more like a Book that has everything in it ever, with all the most useful bits pointed out beautifully.
                        </p>
                        <p>
                            I hereby introduce the Book of Sasame. A little rudimentary but...strong enough for now.
                        </p>
                        <p>
                            Love,
                        </p>
                        <p>
                            Uriah
                        </p>
                <img class="blog_image" alt="" src="images/v0.1.png"/>
                    </div>
                </div>
                <div class="blog_post">
                    <div class="blog_title">
                        The Plan to Save the World
                    </div>
                    <div class="blog_content">
                        <p>
    My plan is for Sasame to save the world, and hopefully with everyone’s help. What do I mean by save the world? I mean make everything super great for everyone.
                        </p>
                        <p>
                            People often ask me: What does the world need saving from? What if people want different things?
                        </p>
                        <p>
                            The World needs saving from something like Sasame but used behind the scenes for evil. And all people want the same thing: To follow their hearts. Sasame is designed to bring everyone together and give us the power to pursue a positive future.
                        </p>
                        <p>
                            I’ll be explaining more about how Sasame works in future posts, but it basically serves as a way to build a collective open source database that can be used as the brain of an AI capable of accomplishing any task. This seed will grow over time into a giant tree that feeds all of us.
                        </p>
                        <p>
                            Love,
                        </p>
                        <p>
                            Uriah
                        </p>
                    </div>
                </div>
                <div class="blog_post">
                    <div class="blog_title">
                        How does Sasame work?
                    </div>
                    <div class="blog_content">
                        <p>
                            For now, just tell Sasame what you want it to know. Or play a game set up by previous visitors. Or set up a game yourself. It doesn’t matter: Just Shine a Light.
                        </p>
                        <p>
                            Once Sasame grows big enough, it will programmatically add to the ways it collects data and utilizes that data. But always in a completely free, open source, and transparent way that benefits all of us. 
                        </p>
                        <p>
                            Sasame needs a lot of direction at first, but eventually it will start growing on its own!
                        </p>
                        <p>
                            Love,
                        </p>
                        <p>
                            Uriah
                        </p>
                    </div>
                </div>
            </div>

            <!-- Loop through all post submits -->

            <!-- <a href="https://github.com/uriahsanders/Sasasame">Github</a> -->
        </div>
        <script>
         $('.eat_fruit').click(function(e){
             e.preventDefault()
             window.location.href = '/fruit';
         });
        </script>
    </body>
    <script src="js/app.js"></script>
</html>
