<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sasame</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
            An admittedly weak implementation of
            SASAME
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Blog</li>
                    <li>Creators</li>
                    <li class="inactive">Applications</li>
                </ul>
            </nav>
            but a strong enough seed.

            <form>
                <input type="text" name="name">
                <textarea name="content"></textarea>
                <input type="submit" name="submit" value="Submit">
            </form>

            <!-- Loop through all post submits -->

            <!-- <a href="https://github.com/uriahsanders/Sasasame">Github</a> -->
    </body>
    <script src="js/app.js"></script>
</html>