    <%- include('header') -%>
        <div id="bottom">
            <div id="login_desc">
                Your Default Username is Perfect 100 <br/>
                and you represent Humanity. <br/>
                Different Numbers are given by Admins 9, 1, or 7.
            </div>
            <form action="">
                <input id="login_password" name="" placeholder="ENTER PASSWORD" type="password" value=""/>
                <br/>
                <input id="login_submit" name="" type="submit" value="LEAD"/>
            </form>
        </div>
    </body>
    <script src="js/app.js"></script>
</html>
