    <%- include('header') -%>
        <div id="bottom">
            <div id="login_desc">
                <%if(locals.session.user){ %>
                    <a href="/login" class='login_register'>Settings</a> |
                    <a href="/logout" class='login_logout'>Logout</a>
                <%}else{%>
                    <a href="/register" class='login_register'>Register</a> |
                    <a href="/login" class='login_login'>Login</a> |
                    <a href="/logout" class='login_logout'>Logout</a>
                <%}%>
            </div>
                <%if(locals.session.user){ %>
                    <form action="/update_user" method="POST" autocomplete="off">
                        <input class="login_input" value="<%=session.name%>"placeholder="Name" name="name" type="text" required/>
                        <input class="login_input" value="<%=session.email%>"placeholder="Email" name="email" type="email" required/>
                        <input style="display:none" type="password" name="fakepasswordremembered"/>

                        <input class="login_input" placeholder="New Password" name="password" type="password" autocomplete=""/>
                        <input class="login_input" placeholder="Confirm Password" name="confirm" type="password" autocomplete="off"/>
                        <input class="login_input" placeholder="Current Password" name="password" type="password" required/>
                        <input id="login_submit" name="" value="UPDATE" type="submit"/>
                <%}else{%>
                    <form action="/login_user" method="POST">
                        <input class="login_input" placeholder="Email" name="email" type="email"/>
                        <input class="login_input" placeholder="Password" name="password" type="password"/>
                        <input id="login_submit" name="" value="LOGIN" type="submit"/>
                <%}%>
                    </form>
            <br />
            <br />
            <br />
        </div>
    </body>
    <script src="js/app.js"></script>
</html>
