 <html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/ppe.css">
    </head>
    <script src="/js/ppe.js"></script>
    <body onload="init()">
        <canvas id="can"></canvas>
    </body>
    </html>