 <html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/ppe.css">
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <div id="queue">
            <canvas class="queue_canvas" width="100px"></canvas>
        </div>
        <script src="/jquery.min.js"></script>
        <script src="/js/ppe.js"></script>
    </body>
    </html>