    <%- include('header') -%>
        <div id="bottom">
            <div id="login_desc">
                <a href="/register" class='login_register'>Register</a> |
                <a href="/login" class='login_login'>Login</a> |
                <a href="/logout" class='login_logout'>Logout</a>
            </div>
            <div style="color:black">(Sasame is under development and still insecure.)</div>
            <form action="/register_user" method="POST">
                <input class="login_input" placeholder="Name" name="name" type="text"/>
                <input class="login_input" placeholder="Email" name="email" type="email"/>
                <input class="login_input" placeholder="Password" name="password" type="password"/>
                <input class="login_input" placeholder="Confirm Password" name="confirm" type="password"/>
                <input id="login_submit" name="" value="REGISTER" type="submit"/>
            </form>
            <br />
            <br />
            <br />
        </div>
    </body>
    <script src="js/app.js"></script>
</html>
