<!DOCTYPE html>
<html>
<head>
	<title>True PPE</title>
	<script src="/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/true.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
</head>
<body>
	<div id="test"></div>
<script type="text/javascript" src="js/true.js"></script>
</body>
</html>